Kod/styrmodulen/styrmodulen/src/i2c_master.c
Kod/styrmodulen/styrmodulen/src/i2c_master.c
Kod/styrmodulen/styrmodulen/debug/styrmodulen.lss
Kod/styrmodulen/styrmodulen/debug/styrmodulen.elf
Kod/styrmodulen/styrmodulen/debug/styrmodulen.eep
Kod/styrmodulen/styrmodulen/debug/styrmodulen.lss
Kod/mainsensor_real/mainsensor/.vs/mainsensor/v14/.atsuo
Kod/styrmodulen/.vs/styrmodulen/v14/.atsuo
Kod/styrmodulen/styrmodulen/debug/src/main.o
Kod/styrmodulen/styrmodulen/debug/styrmodulen.eep
Kod/styrmodulen/styrmodulen/debug/styrmodulen.hex
Kod/styrmodulen/styrmodulen/debug/styrmodulen.elf
Kod/styrmodulen/styrmodulen/debug/styrmodulen.lss
Kod/styrmodulen/styrmodulen/debug/styrmodulen.map